
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeView</title>
</head>
<body>
    <div> 
        <form action="~/Controllers/">
            <h3>Read RSS Feed from "The Times of India"</h3>
            <input type="submit" value="http://timesofindia.feedsportal.com/c/33039/f/533965/index.rss" name="Clik here for RSS Feed" /> 
        </form>
    </div>
</body>
</html>
